:root {
  --main-bg-color: white;
  --main-color: black;
  --button-bg-color: grey;
}

html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

html.dark-theme {
  --main-bg-color: black;
  --main-color: white;
}

body {
  margin: 0;
  max-width: 100vw;
}

nav {
  max-width: 100vw;
  border-bottom: 1px solid var(--main-color);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  gap: 2rem;
}

.left {
  border-left: 1px solid var(--main-color);
  padding-left: 0.5rem;
}

.left p {
  margin: 0;
}

.right {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: right;
  gap: 0.5rem;
}

.social-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#contact-button {
  padding: 0.5rem 1rem;
  background-color: var(--main-color);
  font-size: 1rem;
  color: var(--main-bg-color);
  border: none;
  border-radius: 5px;
  width: max-content;
  cursor: pointer;
}

#hero-section {
  padding: 2rem 2rem;
  border-bottom: 1px solid var(--main-color);
}

h1 {
  font-size: 5rem;
  font-weight: 500;
  margin: 0;
  padding: 2rem 0;
}

#intro-section {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
}

.introduction {
  padding: 1rem 2rem 1rem 0;
  flex: 2.5;
  border-right: 1px solid var(--main-color);
}

.introduction p {
  max-width: 65%;
  line-height: 1.5;
  padding-bottom: 2rem;
  margin: 0;
}

.user-type-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  padding: 2rem 0;
}

.user-type-section p {
  font-size: 1.5rem;
}

#user-button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.user-type-button {
  padding: 0.5rem 1rem;
  background-color: var(--main-color);
  font-size: 1rem;
  color: var(--main-bg-color);
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  width: 100%;
}

#arrow1 {
  background-color: #2E81FF;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -29px;
  top: 50px;
}

#general-section {
  padding: 2rem;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

#general-upper {
  display: flex;
}

#general-upper-left {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.definition {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  width: 60%;
  padding: 1rem;
}

.definition h3 {
  font-size: 1.5rem;
  margin: 0;
}

.definition h4 {
  font-size: 1rem;
  margin: 0;
  font-style: italic;
  font-weight: 100;
}

.definition-source {
  display: flex;
  justify-content: right;
}

.definition-source p {
  margin: 0;
  color: rgba(0, 0, 0, 0.358);
}

#general-upper-right {
  flex: 2;
  display: flex;
  justify-content: center;
}

img {
  border-radius: 5px;
  height: 250px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

#customer-contents {
  display: flex;
  padding: 0 0 0 2rem;
  border-bottom: 1px solid var(--main-color);
}

.contents-img {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 2rem 0;
}

.contents-links {
  flex: 3;
  border-left: 1px solid var(--main-color);
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.links-container h3 {
  margin: 0;
  padding-bottom: 2rem;
}

ol li {
  padding: 0.5rem 0;
}

.contents-title {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 1rem 0;
}

.link {
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
}

#arrow2 {
  background-color: #2E81FF;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.customer-title {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--main-color);
}

.customer-title h2 {
  font-size: 2rem;
  padding: 0 2rem;
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
  border-bottom: 1px solid var(--main-color);
}

.info p {
  line-height: 1.5;
}

.info h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.info-1 {
  padding: 2rem;
  flex: 1;
}

.info-2 {
  padding: 2rem;
  flex: 1;
}

.info-3 {
  padding: 2rem;
  flex: 1;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.information-2 {
  display: flex;
  position: relative;
}

.info-4 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-bottom: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}

.info-4 h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.info-4-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.info-4-main p {
  line-height: 1.5;
  text-align: justify;
}

#arrow3 {
  background-color: #2E81FF;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50px;
  top: -29px;
}

.info-5 {
  flex: 1;
  border-bottom: 1px solid var(--main-color);
  padding: 2rem 0;
}

.img-xl {
  height: 400px;
}

#arrow4 {
  background-color: #2E81FF;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -29px;
  right: 50px;
}

.info-4-bottom {
  border-right: 0;
  border-left: 1px solid var(--main-color);
}

.chatbot-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  position: relative;
  border-bottom: 1px solid var(--main-color);
}

.chatbot-container {
  width: 60%;
  max-width: 800px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chatbot-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  padding: 1rem;
}

.chatbot-messages {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.user-response {
  background-color: #2E81FF;
  color: #fff;
  padding: 0.5rem;
  border-radius: 15px;
  align-self: flex-end;
}

.chatbot-response {
  background-color: lightgrey;
  color: #000;
  padding: 0.5rem;
  border-radius: 15px;
  align-self: flex-start;
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  width: 100%;
  gap: 1rem;
}

#user-message {
  flex: 7;
  padding: 0.5rem;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

#chatbot-button {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: var(--main-color);
  font-size: 1rem;
  color: var(--main-bg-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#mobile-chatbot-button {
  display: none;
  background-image: url('send-icon.png');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #2E81FF;
  cursor: pointer;
  outline: none;
}


#arrow5 {
  background-color: #2E81FF;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -29px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

footer p {
  margin: 0;
}

.multiple-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--main-color);
  padding: 2rem;
}

.question-answer-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
}

.multiple-choice-button {
  padding: 0.5rem 1rem;
  background-color: var(--main-color);
  font-size: 1rem;
  color: var(--main-bg-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.multiple-choice-question {
  font-size: 1.5rem;
}

.right-answer {
  background-color: green;
}

.wrong-answer {
  background-color: red;
}

.selected {
  background-color: grey;
}

.bottom-user-type-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0 0 0;
}

#mode {
  padding: 0.5rem 1rem;
  background-color: var(--main-color);
  font-size: 1rem;
  color: var(--main-bg-color);
  border: none;
  border-radius: 5px;
  width: max-content;
  cursor: pointer;
}

@media (max-width: 500px) {
  h1 {
    font-size: 3.5rem;
  }
  #intro-section {
    padding: 0.5rem 1rem;
    flex-direction: column;
  }
  .bottom-user-type-container {
    flex-direction: column;
    gap: 1rem;
  }
  .bottom-user-type-container button {
    width: 150px;
  }
  .chatbot-container {
    width: 80%;
  }
}
@media (max-width: 700px) {
  #arrow1 {
    top: -29px;
    left: auto;
  }
  #intro-section {
    flex-direction: column;
    padding: 0;
  }
  .introduction {
    border-right: 0;
    border-bottom: 1px solid var(--main-color);
    padding: 0 2rem;
  }
  .introduction p {
    max-width: 100%;
  }
  .definition {
    width: 70%;
  }
  #general-upper {
    flex-direction: column;
    gap: 2rem;
  }
  #customer-contents {
    flex-direction: column-reverse;
    height: auto;
    padding: 0;
  }
  .contents-links {
    border-left: 0;
    border-bottom: 1px solid var(--main-color);
  }
  .contents-img {
    padding: 0;
    padding: 3rem 0 2rem 0;
  }
  .arrow2 {
    bottom: -29px;
    right: 43%;
  }
  .img-lg {
    height: 200px;
  }
  .information-2 {
    flex-direction: column;
  }
  .info-4 {
    border-right: 0;
  }
  .information-3 {
    flex-direction: column-reverse;
  }
  .info-4-bottom {
    border-left: 0;
  }
  #chatbot-button {
    display: none;
  }
  #mobile-chatbot-button {
    display: block;
  }
  .chatbot-section {
    padding: 2rem 1rem;
  }
  .chatbot-container {
    padding: 1rem;
  }
}
@media (max-width: 1000px) {
  .info-4-main {
    flex-direction: column;
    gap: 0;
  }
  .info-4 {
    flex: 1;
  }
  #arrow2 {
    bottom: -29px;
  }
}
@media (max-width: 1200px) {
  .img-xl {
    height: 300px;
  }
}
